#advance-search-bar-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  width:100%;
  padding-top: 0px;

}


/* pokemon banner */
#pokemon-header-img-container{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border:1px solid #91c6e9;
  box-shadow:  0 0 2px #68b7ec, 0 0 2px #68b7ec, 0 0 2px #68b7ec, 0 0 10px #68b7ec,
              inset 0 0 20px #68b7ec;
  padding-top:10px;
  padding-bottom: 10px;;
  width:90vw;
  max-width:100vw;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  /* remove after */
  
}



#pokemon-logo{
  width:10vw;
  padding-top:8px;
  padding-bottom: 8px;
}


/* advance search section */

#advance-search-container{
  color:white;
  text-shadow:0 0 1px rgb(171, 178, 215),
  0 0 2px rgb(171, 207, 215),
  0 0 4px rgba(171, 207, 215),
  0 0 8px rgba(171, 207, 215),
  0 0 16px rgba(171, 207, 215);
  font-weight: 100;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:1px solid #91c6e9;
  box-shadow:  0 0 2px #68b7ec, 0 0 2px #68b7ec, 0 0 2px #68b7ec, 0 0 10px #68b7ec,
              inset 0 0 20px #68b7ec;
  width:100%;
  border-radius: 10px;
  margin-top:20px;
  margin-bottom: 20px;
  padding-top:20px;
  cursor: pointer;
  background-image: url("/images/advance-search-background.png");
  background-position:center;
  /* display:none;   */
  /* remove after done */
}


#advance-search-title{
  cursor: pointer;
}

#drop-down-img{
  width:15px;
  cursor: pointer;
  padding-bottom: 10px;
  padding-top:8px;
}

/* results */

#gen-list{
  display:flex;
  justify-content:space-between;
  align-items: center;
  width:90vw;
  height:70px;
  max-width: 100vw;
  flex-wrap: wrap;
  gap:20px;
  background-color: chocolate;
}


.gen-list-item{
  min-width:100px;
  height:100%;
  text-align: center;
  background-color:blueviolet;
}




@media (max-width: 750px) {
  #advance-search-container{
    padding-top:7px;
  }
  #advance-search-title{
    display:none;
    padding:0px;
  }
  #pokemon-logo{
    width:20vw;
    margin: 0px;
  }


}