html{
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index:-100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    margin:0;
}


#main-container{
    max-width:92%;
    margin:auto;
    height:200vh;
    z-index:100;
}

