html{
    background-image: url("/images/background.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index:-100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    margin:0;
    font-size:20px;
}

h1{
    font-size:larger !important;
}

#main-container{
    max-width:80%;
    margin:auto;
    z-index:100;
}
