#pokemon-results-section{
    width:100%;
    display: grid;
    grid-gap: 21px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-top:15px;
    margin-bottom:40px;
}

#load-more-section{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#load-more-btn{
    width: 50%;
    padding: 10px;
    margin-bottom:20px;
    border-radius: 25px;
    border: 1px solid transparent;
    background-color: transparent;
    transition: .3s;
    font-size: 20px;
    color: #b3eafe;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0 0 5px #b3eafe, 0 0 5px #b3eafe;
    border:1px solid #c1d9e9;
    cursor: pointer;
    
  }
  
  #load-more-btn:hover{
    background-color: #b3eafe;
    color:black;
  }

  @media (max-width: 900px) {
    #pokemon-results-section{
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      grid-gap: 8px;
    }
  
    #load-more-btn{
      width:100%;
    }
  
    }

  