/* ----------------------------------------------------------buttons -------------------------------------------------------*/
:root {
  --fire-btn-color: rgb(255, 69, 0);   /* Bright red */
  --normal-btn-color: #8c8c8c;        /* Medium gray */
  --water-btn-color: #00aaff;         /* Bright blue */
  --grass-btn-color: #6fd000;         /* Bright green */
  --electric-btn-color: #ffd700;      /* Bright yellow */
  --ice-btn-color: #00ffff;           /* Cyan/blue */
  --fighting-btn-color: #ff5e00;      /* Slightly darker orange */
  --poison-btn-color: #993399;        /* Intense purple */
  --ground-btn-color: #ffc90b;        /* Slightly darker yellow */
  --flying-btn-color: #0099cc;        /* Bright blue */
  --psychic-btn-color: #ff669c;       /* Slightly darker pink */
  --bug-btn-color: #00cc00;           /* Bright green */
  --rock-btn-color: #a0522d;          /* Sienna brown */
  --ghost-btn-color: #800080;         /* Purple */
  --dragon-btn-color: #330099;        /* Dark blue */
  --dark-btn-color: #333333;          /* Dark gray */
  --steel-btn-color: #b0c4de;         /* Light blue/gray */
  --fairy-btn-color: #ff69b4;         /* Pink */
}

#normal-btn{
  color: var(--normal-btn-color);
  border-color: var(--normal-btn-color);
}

#fire-btn{
  color:var(--fire-btn-color);
  border-color: var(--fire-btn-color);
}

#water-btn{
  color: var(--water-btn-color);
  border-color: var(--water-btn-color);
}

#grass-btn{
  color: var(--grass-btn-color);
  border-color: var(--grass-btn-color);
}

#electric-btn{
  color: var(--electric-btn-color);
  border-color: var(--electric-btn-color);
}

#ice-btn{
  color: var(ice-btn-color);
  border-color: var(ice-btn-color);
}

#fighting-btn{
  color: var(--fighting-btn-color);
  border-color: var(--fighting-btn-color);
}

#poison-btn{
  color: var(--poison-btn-color);
  border-color: var(--poison-btn-color);
}

#ground-btn{
  color: var(--ground-btn-color);
  border-color: var(--ground-btn-color);
}

#flying-btn{
  color: var(--flying-btn-color);
  border-color: var(--flying-btn-color);
}

#pyschic-btn{
  color: var(--pychic-btn-color);
  border-color: var(--pychic-btn-color);
}

#bug-btn{
  color: var(--bug-btn-color);
  border-color: var(--bug-btn-color);
}

#rock-btn{
  color: var(--rock-btn-color);
  border-color: var(--rock-btn-color);
}

#ghost-btn{
  color: var(--ghost-btn-color);
  border-color: var(--ghost-btn-color);
}

#dragon-btn{
  color: var(--dragon-btn-color);
  border-color: var(--dragon-btn-color);
}

#dark-btn{
  color: var(--dark-btn-color);
  border-color: var(--dark-btn-color);
}

#steel-btn{
  color: var(--steel-btn-color);
  border-color: var(--steel-btn-color);
}

#fairy-btn{
  color: var(--fairy-btn-color);
  border-color: var(--fairy-btn-color);
}
