nav{
    display:flex;
    align-items: center;
    justify-content: center;
    width:50%;
    margin:auto;
}

#nav-title{
    width:400px;
}

#logo{
    max-width:120px;
    cursor: pointer;
}

#ball-logo{
    max-width:30px;
    cursor:pointer;
}